.notification {
	color: black;
	border: 2px solid #095209;
	background: #9fbda3;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.notification.error {
	color: whitesmoke;
	border-color: #ce022b;
	background-color: #ce022b;
}